<!DOCTYPE HTML>
<html>	

<%- include('inc/head-pagina') -%>

<body>

	<div class="gtco-loader"></div>

	<div id="page">

	  <%- include('inc/menu-pagina') -%>
	  <%- include('inc/header-index') -%>

	  <%- include('inc/content/menus') -%>
	  <%- include('inc/content/services') -%>
	  <%- include('inc/content/text') -%>
	  <%- include('inc/content/facts') -%>
	  <%- include('inc/content/subscribe') -%>
	  
      <%- include('inc/footer-pagina') -%>

	</div>

	<%- include('inc/gotop-pagina') -%>
	<%- include('inc/script-pagina') -%>
</body>
	
</html>